html, body{
    width:100%;
    height:100%;
    margin: 0;
}

#mainContainer {
    position: absolute;
    border: 4mm ridge slateblue;
    background-color: cornsilk;
    width: calc(100% - 8mm);
    height: calc(100% - 8mm);
}

.container {
    position: absolute;
}

.board {
    position: absolute;
    /*outline: 1mm dashed black;*/
}

@keyframes slidetop{
    from{
        margin-left:80%;
        margin-top:5%;
    }
    to{
        margin-left: 0%;
        margin-top:10%;
    }
}

@keyframes slidein{
    from{
        margin-left:80%;
    }
    to{
        margin-left: 0%;
    }
}